/* CSS file */

@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace esri "http://www.esri.com/2008/ags";
@namespace viewer "com.esri.viewer.*";
@namespace viewerComps "com.esri.viewer.components.*";
@namespace apiComps "com.esri.ags.components.*";

viewer|WidgetTemplate
{
	background-alpha: 0.8;
	borderStyle: solid;
	borderThickness: 1;
	cornerRadius: 5;
	dropShadowVisible: true;
	horizontalScrollPolicy: off;
	shadowDirection: right;
	shadowDistance: 5;
	skinClass: ClassReference("com.esri.viewer.skins.WidgetTemplateSkin");
}

viewerComps|TitlebarButton
{
	skinClass: ClassReference("com.esri.viewer.skins.TitlebarButtonSkin");
}

.BannerTitle
{
	padding-bottom: 2;
	padding-top: 4;
}

.BannerSubtitle
{
	
}

.WidgetTitle
{
	fontWeight: bold;
}


s|VScrollBar
{
	skinClass: ClassReference("com.esri.viewer.skins.VScrollBarSkin");
}

mx|VScrollBar
{
	downArrowUpSkin: ClassReference(null);
	downArrowOverSkin: ClassReference(null);
	downArrowDownSkin: ClassReference(null);
	upArrowUpSkin: ClassReference(null);
	upArrowOverSkin: ClassReference(null);
	upArrowDownSkin: ClassReference(null);
	thumbDownSkin: Embed(source="assets/images/thumb.png");
	thumbUpSkin: Embed(source="assets/images/thumb.png");
	thumbOverSkin: Embed(source="assets/images/thumb.png");
	trackSkin: Embed(source="assets/images/track.png");
}

s|HScrollBar
{
	skinClass: ClassReference("com.esri.viewer.skins.HScrollBarSkin");
}

mx|HScrollBar
{
	downArrowUpSkin: ClassReference(null);
	downArrowOverSkin: ClassReference(null);
	downArrowDownSkin: ClassReference(null);
	upArrowUpSkin: ClassReference(null);
	upArrowOverSkin: ClassReference(null);
	upArrowDownSkin: ClassReference(null);
	thumbDownSkin: Embed(source="assets/images/thumb.png");
	thumbUpSkin: Embed(source="assets/images/thumb.png");
	thumbOverSkin: Embed(source="assets/images/thumb.png");
	trackSkin: Embed(source="assets/images/track.png");
}

esri|ScaleBar
{
	skinClass:ClassReference("com.esri.viewer.skins.CustomScaleBarSkin");
}

esri|InfoSymbolWindow
{
	skinClass: ClassReference("com.esri.viewer.skins.weatherInfoSymbolWindowSkin");
}

esri|InfoWindow
{
	/*	backgroundColor:#f6f6f6;
	backgroundAlpha:0.7;
	borderColor:#d4d3d2;*/
	skinClass:ClassReference("com.esri.viewer.skins.InfoWindowSkin");
}

s|List
{
	fontFamily:"宋体";
	contentBackgroundColor:#ffffff;
	contentBackgroundAlpha:0.9;
	rollOverColor:#daeaf9;
	
}
.infoStyle
{
	backgroundAlpha:0;
	borderAlpha:0;
}
.headerlinkbtn{
	color:#ffffff;
	fontFamily:"宋体";
	fontSize:14;
	rollOverColor:#E3E4E8;
	textRollOverColor:#EA880D;
}
.headerlabel{
	color:#ffffff;
	fontFamily:"宋体";
	fontSize:14;
}
.linkLable{
	color:#ffffff;
	fontFamily:"宋体";
	fontSize:12;
	textDecoration:underline;
}
.linkLableOver{
	color:#ff8400;
}
.copyright{
	fontFamily:"宋体";
	fontSize:12;
	color:#000000;
}